% Sample configuration file for the trEPRgui function of the trEPR toolbox
%
% Copyright (c) 2012-14, Till Biskup <till@till-biskup.de>
%
% This file serves as an example and documentation for the real
% configuration in the file "trEPRgui.ini" in the same directory.
%
% To automatically generate a valid config file from this file, 
% use trEPRconf('create') at the MATLAB(r) command line.
% Alternatively, you may use the functions provided by the "Configuration" 
% panel of the GUI.

% General configuration settings
%
% dx, dy            - Position of the GUI relative to the main screen
% defaultBackground - default background colour of all GUI elements
[general]
dx = 20
dy = 40
defaultBackground = [0.9 0.9 0.9]

% Configuration of the behaviour of the toolbox when started
%
% welcome      - Whether to show the "Welcome panel" at start.
%                Alternatively, directly the "Load panel" is displayed.
% tip          - Whether to show a "Did you know...?" message at start.
% statuswindow - Toggle between displaying the status window on startup 
% statuswindow - Whether to check for updates on start
[start]
welcome = 1
tip = 1
statuswindow = 0
updatecheck = 1

% Configuration of the directories used internally
%
% You may use "pwd" here instead of a full directory
[dirs]
lastLoad = pwd
lastSave = pwd
lastFigSave = pwd
lastExport = pwd
lastSnapshot = ~/.trepr/snapshots

% Configuration of the behaviour when saving data or figures
%
% The default behaviour is to use the filename of the loaded dataset as 
% basename for suggesting filenames.
% If you set "useLabel" to 1, the label of the current filename is used
%
% The "sanitise" switch controls whether special and whitespace characters 
% are masked in the new filename.
[filenames]
useLabel = 0
sanitise = 1

% Configuration of messaging
[messages]
display.level = all
debug.level = all

% Configuration of command line feature (cmd)
[cmd]
historysave = false
historyfile = ~/.trepr/history

% Configuration for the load panel
%
% The first lines, "combine/loaddir/POC/BGC/labels", are switches settin
% the respective checkboxes of the load panel.
% The "format" field controls which file format gets selected. For a list
% of available formats see the file "trEPRload.ini" in the same directory as
% the trEPRload function. The string of interest is the string in the field
% "name" of the respective file format.
% The file formats (that are displayed in the popupmenu) are automatically
% read from trEPRload.ini as well.
[load]
combine = 0
loaddir = 0
infofile = 0
unitconversion = 0
POC = 0
BGC = 0
labels = 1
visible = 0
format = automatic 
% convert can take a comma-separated list of values
convert = G2mT

% Configuration of the sliders
[slider]
displacement.x.factor = 1
displacement.y.factor = 1
displacement.z.factor = 10

% Configuration for the measure panel
[measure]
setslider = 1

% Configuration for the display panel
[display]
axislimitsauto = 1
grid.zero.visible = 1
grid.zero.color = [0.5 0.5 0.5]
grid.zero.width = 1
grid.zero.style = --
grid.x = 0
grid.y = 0
grid.minor = 0
legend.location = none
legend.box = 1
legend.FontName = Helvetica
legend.FontSize = 12
legend.FontWeight = normal
legend.FontAngle = normal
normalise = none
highlightactive = 1
figsave.caption = 1
export1Dincludeaxis = 1
display3DoffsetAuto = 1
thresholdMin = 0
thresholdMax = 0

% Configuration for the colormap settings used for 2D plots
[colormap]
symmetric = 0
individual = 0

% Configuration for the configuration panel
[configuration]
overwriteLocal = 0
