% Sample configuration file for the trEPRgui_ACCwindow function of the 
% trEPR toolbox
%
% Copyright (c) 2012-13, Till Biskup <till@till-biskup.de>
%
% This file serves as an example and documentation for the real
% configuration in the file "trEPRgui_ACCwindow.ini" in the same directory.
%
% To automatically generate a valid config file from this file, 
% use trEPRconf('create') at the MATLAB(r) command line.
% Alternatively, you may use the functions provided by the "Configuration" 
% panel of the trEPR toolbox main GUI.

[acc]
weights.min = 1
weights.max = 1
noise.x.min = 1
noise.x.max = 1
noise.y.min = 1
noise.y.max = 1
interpolation = 
method = 

[axis]
grid.zero = 1
grid.x = off
grid.y = off
grid.minor = off
onlyActive = 1
