% Sample configuration file for the trEPRgui function of the trEPR toolbox
%
% (c) 2012, Till Biskup <till@till-biskup.de>
%
% This file serves as an example and documentation for the real
% configuration in the file "trEPRgui.ini" in the same directory.
%
% To automatically generate a valid config file from this file, 
% use trEPRconf('create') at the MATLAB(r) command line.
% Alternatively, you may use the functions provided by the "Configuration" 
% panel of the GUI.

% Configuration of the behaviour of the toolbox when started
%
% welcome - Whether to show the "Welcome panel" at start.
%           Alternatively, directly the "Load panel" is displayed.
% tip     - Whether to show a "Did you know...?" message at start.
[start]
welcome = 1
tip = 1

% Configuration for the load panel
%
% The first lines, "combine/loaddir/POC/BGC/labels", are switches settin
% the respective checkboxes of the load panel.
% The "format" field controls which file format gets selected. For a list
% of available formats see the file "trEPRload.ini" in the same directory as
% the trEPRload function. The string of interest is the string in the field
% "name" of the respective file format.
% The file formats (that are displayed in the popupmenu) are automatically
% read from trEPRload.ini as well.
[load]
combine = 0
loaddir = 0
AVG = 0
POC = 0
BGC = 0
labels = 1
format = automatic 

% Configuration for the measure panel
[measure]
setslider = 1

% Configuration for the display panel
[display]
axislimitsauto = 1
gridzero = 1
gridx = 0
gridy = 0
gridminor = 0
legend = none
normalise = none
highlightactive = 1
export1Dincludeaxis = 1
display3DoffsetAuto = 1
thresholdMin = 0
thresholdMax = 0

% Configuration for the configuration panel
[configuration]
overwriteLocal = 0
