# robodoc.rc for MATLAB/Octave file documentation
# (c) 2005, Till Biskup <till.biskup@physik.fu-berlin.de>
items:
	NAME
	COPYRIGHT
	SYNOPSIS
	USAGE
	FUNCTION
	DESCRIPTION
	PURPOSE
	AUTHOR
	MAINTAINER
	CREATION DATE
	MODIFICATION DATE
	VERSION
	REVISION
	KEYWORDS
	ARGUMENTS
	PARAMETERS
	SWITCHES
	INPUT
	OUTPUT
	DEPENDS ON
	RESULT
	RETURN VALUE
	EXAMPLE
	NOTES
	WARNINGS
	ERRORS
	BUGS
	TODO
	TASK
	PORTABILITY
	SEE ALSO
	SOURCE
options:
    --src ./
    --doc ../doc/ROBODoc
    --html
    --multidoc
    --index
    --cmode
    --sections
    --nopre
ignore files:
    README
    CVS
